<ion-content>
  <ion-slides pager='true'>
    <ion-slide>

        <ion-text>Tutorial Page 1</ion-text>
  
    </ion-slide>
    <ion-slide>

        <ion-text>Tutorial Page 2</ion-text>
   
    </ion-slide>
    <ion-slide>

        <ion-text>Tutorial Page3</ion-text>
        <ion-button color='medium' (click)='skipTutorial()'>Get Started!</ion-button>
   
    </ion-slide>
  </ion-slides>
  
  <ion-footer>
    <ion-button (click)='skipTutorial()'>Skip Tutorial</ion-button>
  </ion-footer>
</ion-content>



