<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Leaderboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="assets/img/ionic4start-ico.png">
  </div>

  <ion-card class="bg-white" no-margin *ngFor="let score of scores; index as position">
    <div>
      {{score}}
    </div>
  </ion-card>

</ion-content>
