<ion-content padding class="auth-page yellow non">  
  <div class="login-page">

    <!-- Logo -->
    <div class="logo"></div>      
    
    <!-- Username -->
    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating">
        <ion-icon name="mail" item-start></ion-icon>
        Username
      </ion-label>
      <ion-input color="secondary" type="username" [(ngModel)]="username"></ion-input>
    </ion-item>
      

    <!-- Password -->
    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating">
        <ion-icon name="lock" item-start></ion-icon>
        Password
      </ion-label>
      <ion-input color="secondary" type="password"  [(ngModel)]="password"></ion-input>
    </ion-item>      
    

    <!-- Sign In Button -->
    <div class="space-top">
      <ion-button  color="secondary" (click)="prosesLogin()" expand="block">
        <ion-icon name="log-in"></ion-icon>
        Signin
      </ion-button>   
    </div>

    <!-- Sign Up Button -->
    <div text-center class="space-top">
      <span (click)="formRegister()" class="paz" tappable>
        <ion-text color="light">
          New here? <strong>Sign Up</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>