<ion-content padding class="auth-page">  
  <div class="register-page">

    <!-- IMAGE UPLOAD -->  
    <ion-grid>
          <ion-row> 
            <ion-col>     
              <ion-avatar *ngFor="let img of images; index as pos">
                <img [src]="img.path" /> 
              </ion-avatar>        
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- IF THERE IS AN IMAGE -->
    <div *ngFor="let img of images; index as pos">
      <ion-grid>
          <ion-row> 
            <ion-col>
              <ion-button color="secondary" (click)="selectdeleteImage(img, pos)" expand="block">RETAKE</ion-button>
            </ion-col>
            <ion-col>
              <ion-button color="secondary" (click)="deleteImage(img, pos)" expand="block">DELETE</ion-button>             
            </ion-col>
          </ion-row>
      </ion-grid>
    </div>    


    <!-- IF THERE IS NO IMAGE -->
    <div *ngIf="images.length == 0">
      <ion-avatar>
        <ion-img src="assets/img/user.png"></ion-img>
      </ion-avatar>  
      <div class="space-top"></div>     
      <ion-button color="secondary" (click)="selectImage()" expand="block">
        <ion-icon slot="start" name="camera"></ion-icon>
          Add Profile Image
      </ion-button>
      <p> Your profile image will be the image used when you are chosen</p>
    </div>   


    <!-- Username -->
    <ion-item no-padding class="animated fadeInUp">
      <ion-label color="secondary" position="floating">
        <ion-icon name="person" item-start></ion-icon>
        Username:
      </ion-label>
      <ion-input color="secondary" type="username" [(ngModel)]="username"></ion-input>
    </ion-item>

    <!-- Full Name -->
    <ion-item no-padding class="animated fadeInUp">
      <ion-label color="secondary" position="floating">
        <ion-icon name="person" item-start></ion-icon>
        Full Name: (First and Last)
      </ion-label>
      <ion-input color="secondary" type="fullName" [(ngModel)]="fullName"></ion-input>
    </ion-item>

    <!-- Full Name -->
    <ion-item no-padding class="animated fadeInUp">
      <ion-label color="secondary" position="floating">
        <ion-icon name="mail" item-start></ion-icon>
          Email:
      </ion-label>
      <ion-input color="secondary" type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
      

    <!-- Password -->
    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating">
        <ion-icon name="lock" item-start></ion-icon>
        Password:
      </ion-label>
      <ion-input color="secondary" type="password"  [(ngModel)]="password"></ion-input>
    </ion-item>  

    <!-- Password Confirm -->
    <ion-item no-padding class="animated fadeInUp">
      <ion-label position="floating">
        <ion-icon name="lock" item-start></ion-icon>
        Confirm Password:
      </ion-label>
      <ion-input color="secondary" type="password"  [(ngModel)]="confirm_password"></ion-input>
    </ion-item>      
    

    <!-- Register Button -->
    <section class="space-top">      
    <div *ngFor="let img of images; index as pos">  
      <ion-button color="secondary" (click)="prosesRegister(img)" expand="block">Register</ion-button>
    </div>

    <div *ngIf="images.length == 0">
      <ion-button color="secondary" expand="block" disabled>Register</ion-button>
    </div>
    </section>
    

    <!-- Sign Up Button -->
    <div text-center class="space-top">
      <span (click)="formLogin()" class="paz" tappable>
        <ion-text color="light">
          My bad fam, <strong>I already have an account</strong>
        </ion-text>
      </span>
    </div>
  </div>
  <div class="space-top-20"></div>
</ion-content>
