<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile">
  <ion-card class="no-margin">
    <ion-card-content class="bg-profile">
      <ion-img [src]="photoLoc"></ion-img>
      <h1 class="fw500">Ian Something</h1>
      <ion-button icon-left color="secondary">
        <ion-icon name="photos"></ion-icon> 
        Edit Picture
      </ion-button>
    </ion-card-content>
  
    <ion-grid fixed no-padding>
      <ion-row>
        <ion-col size="12" padding>

          <ion-list margin-bottom>
            <ion-item>
              <ion-label color="dark" position="stacked">Full Name:</ion-label>
              <ion-input inputmode="text" value="{{fullname}}" [(ngModel)]="fullname"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label color="dark" position="stacked">Username:</ion-label>
              <ion-input inputmode="email" value="{{username}}" [(ngModel)]="username"></ion-input>
            </ion-item>
            <ion-button size="large" expand="full" color="dark" (click)="updateUserInfo()" no-margin>Submit</ion-button>

            <ion-title>Change Password</ion-title>
            <ion-item>
              <ion-label color="dark" position="stacked">New Password:</ion-label>
              <ion-input inputmode="text" type="password" [(ngModel)]="password"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label color="dark" position="stacked">Confirm New Password:</ion-label>
              <ion-input inputmode="text" type="password" [(ngModel)]="confirm_password"></ion-input>
            </ion-item>           
          </ion-list>
          <ion-button size="large" expand="full" color="dark" (click)="updatePassword()" no-margin>Submit</ion-button>
          
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  
</ion-content>
